.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  position: relative;
  &__logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    &__img {
      max-width: 100vw;
      opacity: 0.5;
      top: -5vh;
      bottom: 0;
      position: absolute;
      z-index: 0;
    }
  }
  &__name {
    @extend %textShadow;
    z-index: 1;
  }
  &__describ {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    width: 90vw;
    @extend %textShadow;
    z-index: 1;
  }
  &__loginLink a {
    display: block;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: $activColor;
    text-align: center;
  }
  &__forgotPwd {
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 10px;
    width: 200px;
    border-radius: 25px;
    background-color: $activLinkColor;
    & a {
      text-decoration: none;
      color: $activColor;
    }
  }
  &__separate {
    height: 2rem;
    width: 100vw;
    margin-top: 20px;
    &__text {
      display: block;
      font-weight: 400;
      text-align: center;
    }
  }
}
