.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  position: relative;
  &__logo {
    opacity: 0.5;
    top: 0;
    left: auto;
    bottom: 0;
    right: auto;
    position: absolute;
    z-index: 0;
  }
  &__title {
    font-size: 2rem;
    text-align: center;
    color: white;
  }
  &__describ {
    display: block;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    width: 90vw;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white;

    z-index: 1;
  }
  @include formLoginPwd;
  &__signupLink {
    width: 80vw;
    height: 3rem;
    border-radius: 5px;
    background-color: $linkButton;
    & a {
      display: block;
      text-decoration: none;
      line-height: 3rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
      text-align: center;
    }
  }
}
