.addNewPost {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 3;
  padding: 0;
  transition: transform 500ms;
  .newPost {
    &__formContainer {
      width: 100vw;
      height: 100vh;
      padding-top: 10px;
      padding-bottom: 10px;
      background: $lightning-yellow; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to top,
        $broom,
        $lightning-yellow
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, $lightning-yellow, $broom);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      &__form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__textArea {
          padding: 10px;
          font-size: 14px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          width: 70%;
          height: 135px;
          border-radius: 15px;
        }
        &__send {
          width: 48px;
          height: 48px;
          border-radius: 25px;
          text-align: center;
          border-style: none;
          background-color: $java;
          &__ico {
            color: $textColorLight;
          }
          &:disabled {
            @extend %disabledButton;
          }
        }
      }
    }
  }
}

.hideNewPost {
  transform: translateX(100%);
}
