.header {
  position: fixed;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  top: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  background-color: $primaryColor;
  box-shadow: $boxShadow;
  &__logo {
    grid-row: 1;
    grid-column: 1;
    margin-right: auto;
    height: 96px;
    width: 96px;
  }
  &__userWelcome {
    font-size: 16px;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    margin-right: auto;
    margin-left: auto;
    color: $textColorLight;
  }
}
