.nav {
  position: absolute;
  top: 25px;
  right: 0;
  font-weight: bolder;
  background: linear-gradient(to top, $lightning-yellow, $broom);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: $boxShadow;
  overscroll-behavior: none;
  &__li {
    line-height: 4rem;
    font-size: 1.2rem;
  }
}

.showNav {
  right: 0;
  transition: all 500ms ease-in-out;
}
.hideNav {
  transform: translateX(305px);
  transition: all 500ms ease-in-out;
}
