.alerte {
  display: block;
  height: 50px;
  width: 80vw;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  font-size: 0.9rem;
  color: $invalidColor;
}
.succes {
  display: block;
  height: 50px;
  width: 80vw;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  font-size: 0.9rem;
  color: $validColor;
}
.error {
  background-color: $invalidField;
  color: $invalidColor;
  transition: all 0.5s ease-in-out;
}
.valid {
  background-color: $validatedField;
  color: $activLinkColor;
  transition: all 0.5s ease-in-out;
}
