.linkButton {
  cursor: pointer;
  margin-bottom: 40px;
  width: 80vw;
  height: 3rem;
  border-radius: 5px;
  background-color: $linkButton;
  & a {
    display: block;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: $activColor;
    text-align: center;
  }
}
