.linkButton {
  cursor: pointer;
  margin-bottom: 40px;
  width: 80vw;
  height: 3rem;
  border-radius: 5px;
  background-color: $linkButton;
  box-shadow: $boxShadow;
  & a {
    display: block;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: $textColorLight;
    text-align: center;
  }
}
.footerButtons {
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  line-height: 30px;
  min-height: 54px;
  min-width: 62px;
  padding: 5px;
  color: $textColorLight;
  border: none;
  border-radius: 15px;
  box-shadow: $boxShadow;
  &__addVote {
    padding-left: 3px;
    align-self: flex-end;
  }
  &__checkVote {
    padding-left: 3px;
    padding-top: 10px;
  }
}
.menuButton {
  grid-row: 1;
  grid-column: 3;
  margin-left: auto;
  color: none;
  border: none;
  background-color: transparent;
  height: 48px;
  width: 48px;
  color: $textColorLight;
  &__ico {
    font-size: 2rem;
    color: $textColorLight;
  }
}
.closeNavbar {
  display: block;
  margin-left: auto;
  border: none;
  height: 48px;
  width: 48px;
  background-color: $primaryColor;
  color: $textColorLight;
  padding: 0;
  border-radius: 25px;
  &__ico {
    color: $textColorLight;
  }
}
