%textShadow {
  text-shadow: 0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark,
    0 0 3px $textShadowColorDark, 0 0 3px $textShadowColorDark;
}
%disabledButton {
  cursor: inherit;
  background-color: $disabledLinkColor;
  color: $disabledColor;
  box-shadow: none;
}
