$primaryColor: #036168;
$invalidColor: #b42424;
$validColor: rgb(6, 86, 177);
$invalidField: rgb(246, 174, 186);
$linkButton: rgb(5, 106, 5);
$validField: rgb(197, 249, 121);
$activLinkColor: rgb(6, 86, 177);
$activColor: white;
$disabledLinkColor: rgb(191, 187, 187);
$disabledColor: grey;
$backgroundColorForm: rgb(199 221 225 / 70%);
$placeHolderColor: grey;
$boxShadow: 0 2px 4px rgb(0 0 0 / 40%), 0 8px 16px rgb(0 0 0 / 40%);
$textShadowColorDark: black;
$textShadowColorlight: white;
$textColorDark: black;
$textColorLight: white;
